body {
	font-family: 'Open Sans', 'sans-serif',
}


.btn.btn-orange {
	background-color: #ff4200;
	color: white;
	font-size: 1.2em;
	border-radius: 0px;
	padding: 10px 40px;
}

.btn.btn-red {
	background-color: #ffffff;
	color: #ff7f0e;
	font-size: 1.2em;
	border-radius: 0px;
	padding: 10px 40px;
	margin-top: 5px;
}

.text-orange {
	color: #ffa500;
}

.text-large {
	font-size: 1.3em;
}

.valign-middle {
	vertical-align: middle;
}

.dropdown-menu {
	border-radius: 0;
}

#brand {
	padding: 20px;
	margin-bottom: 0;
}

#brand a {
	color: #666;
}

#fixed-navbar {
	display: none;
	opacity: 0;
}

#fixed-navbar a {
	color: #666;
}

#fixed-navbar .active a {
	color: #FFF;
}

#fixed-navbar .active .dropdown-menu a {
	color: #666;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #ff7f0e;
	border-radius: 0px;
	color: white;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #ff7f0e;
	border-radius: 0px;
	color: white;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: #CCC;
}

#brand .active a {
	color: white;
}

.relative {
	position: relative;
}

@media only screen and (min-width: 768px) {
	.floating-date {
		position: absolute;
		left: -30px;
		background-color: #ffa500;
		text-align: middle;
		padding: 7px 8px;
		color: white;
		line-height:26px;
	}

	.floating-date span {
		display: block;
	}

	.floating-date .update {
		font-size: 1.2em;
	}

	.floating-date .date {
		font-size: 3em;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.floating-date .month {
		font-size: 2em;
	}
}

@media only screen and (min-width: 1000px) {

	.floating-date {
		position: absolute;
		left: 40px;
		background-color: #ffa500;
		text-align: middle;
		padding: 7px 8px;
		color: white;
		line-height:26px;
	}

	.floating-date span {
		display: block;
	}

	.floating-date .update {
		font-size: 1.2em;
	}

	.floating-date .date {
		font-size: 3em;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.floating-date .month {
		font-size: 2em;
	}
}

@media only screen and (max-width: 768px) {

	.floating-date {
		background-color: #ffa500;
		text-align: middle;
		padding: 10px;
		color: white;
		line-height:26px;
	}

	.floating-date span {
		display: inline;
	}
}

.help-text {
	font-size: 0.8em;
	color: #EEE;
}

.gray {
	background-color: #DDD;
}

#update-content {
	background-color: #FFFFFF;
	text-align: center;
	position:relative;
}

#update-content p {
	font-size: 1.3em;
	color: #666;
}

#update-content hr {
	margin-bottom: 0;
}

#bcomp-content {
	background: url("../img/background.jpg") no-repeat center;
	text-align: justify;
	color: white;
	text-shadow: 1px 1px 6px #000000;
}

#bc-content {
	background: url("../img/bg2.png");
	text-align: justify;
}

#schedule-content {
	background-image: url("../img/bg1.png");
	color: white;
	text-align: center;
}

#sistemlomba-content {
	background-image: url("../img/bg-pattern.png");
}

#sistemlomba-content p {
	color: #666;
}

#sistemlomba-content .btn-orange {
	font-size: 1em;
	background-color: #ff4200;
}

#sistemlomba-content h2, #sistemlomba-content h3 {
	color: #444;
}

#sistemlomba-content h4 {
	line-height:10px;
}

#pendaftaran-content {
	background-color: #ff7f0e;
	color: white;
}

@media only screen and (min-width: 768px) {
	#pendaftaran-content .number {
		font-size: 7em;
		text-align: right;
	}
}

@media only screen and (max-width: 768px) {
	#pendaftaran-content .number {
		font-size: 4em;
		text-align: left;
	}
}

#pendaftaran-content p {
	font-size: 1.3em;
}

#pendaftaran-content .btn-pendaftaran {
	width: 200px;
}

#pendaftaran-content .btn-download {
	width: 250px;
	text-align: left;
}

#contact-content {
	background-color: #FFFFFF;
	color: #666666;
}

#contact-content h1, #contact-content h2, #contact-content h3, #contact-content h4, #contact-content h5 {
	color: #222222;
}

#map_canvas {
	height: 270px;
	background-color: #CCC;
}

#contact-content a {
 	color: #666666;
}

#contact-content p {
	font-size: 1.1em;
	margin-bottom: 3px;
}

#footer {
	background-color: #F4F4F4;
	border-top: 2px solid #ccc;
	padding: 35px;
	color: #999;
}

#footer a {
	color: #999;
}

h5 {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0;
}